.navbar-category {

    
  border-bottom-style:solid;
  border-bottom-width: 1px;
  border-bottom-color: rgb(214, 214, 214);

  background-color: #FFF;
  
  color: var(--text-color);
  
  text-transform: uppercase;  

  font-family: var(--body-font);
  font-size: var(--h3-font-size);
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
  -moz-box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
}

.navbar-category span {
  padding: 10px 10px;
}

.navbar-category span:hover {
  color: rgba(244,93,68,1);
}

.navbar-category span:active {
  color: rgba(234,55,74,1);
  font-weight: bold;
}